@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
body{
  color: #999;
  background-color: #111;
  margin: 0;
  font-family: 'Montserrat',sans-serif;
}

#header{
  background-color: #1abc9c;
  height: 100px;
  line-height: 100px;
}
#header-title{
  display: block;
  float: left;

  font-size: 20px;
  font-weight: bold;
}
#header-nav{
  display: block;
  float: right;
  margin-top: 0;
}
#header-nav li{
  display: inline;
  padding-left: 5px;
}
#header a{
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#header a:hover{
  color: #222;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
}

#footer{
  background-color: #2f2f2f;
  padding: 50px 0;
}
.column{
  min-width: 300px;
  display: inline-block;
  vertical-align: top;

}

#footer h4{
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#footer p{
  color: white;
}

a{
  color: #1abc9c;
  text-decoration: none;
}
a:hover{
  color: #f6a623;
}


.post, .about, .Error{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 0;
}
.post-category img{
  width:50px;
  height: 50px;
  vertical-align: middle;
}
.post-category span{
  margin-left: 16px;
  font-weight: bolder;
  font-size: larger;

}
.post-date{
  color: #d2d2d2;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;

}
.post-container{
  padding: 20px ;
}

.post-container:nth-child(even) {
  background-color: #131313;
}

.about-author img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  max_width:50px;
  width: 50%;
}

h1,h2,h3,h4{
  color: #1abc9c;
}
p{
  line-height: 1.5;
}
hr{
  border: 1px solid; 
  color: #1abc9c;
  width: 20px;

}

.about,.Error{
  text-align: center;
}

input{
  background-color: inherit;
  height: 100px;
  text-align: justify;
  color: white;
  border-color: #1abc9c;
  caret-color: #1abc9c;
  font-size: 12;
  }
  
button{
    
    background-color: inherit;
    border-color: #1abc9c;
    color: #1abc9c;
    margin-top: 10px;
  }
button:hover{
  color: grey;
  border-color: grey;

}

#header, #footer {
 padding: 40px;
 }

#longread{
 margin: 0 100px 100px 0;
 padding: 50px 100px 50px 100px;
 text-align: left;
 }
 
 .subtitle{
  padding-top: 60px;
  font-style: italic;
 }
 .post-desc {
 text-align: right ;
 float : right ;
 font-style : italic ;
 } 
 
 #sig{
  float: right;
  font-family: "trebuchet ms";
  font-size:18;
  padding-right: 30px;
  }
  
 .picture img {
  text-align: center;
  
 }

 
